#!/bin/sh

set -e

# important build settings
export PRODUCT_VERSION=${PRODUCT_VERSION:-$(date '+%Y%m%d%H%M')}
export PRODUCT_FLAVOUR=${PRODUCT_FLAVOUR:-"HardenedBSD"}
export PRODUCT_NAME=${PRODUCT_NAME:-"OPNsense"}

# code reositories
export TOOLSDIR="/tank/opnsense/tools"
export PORTSDIR="/tank/opnsense/ports"
export COREDIR="/tank/opnsense/core"
export SRCDIR="/tank/opnsense/src"

# misc. foo
export CONFIG_PKG="/usr/local/etc/pkg/repos/${PRODUCT_NAME}.conf"
export CPUS=$(sysctl kern.smp.cpus | awk '{ print $2 }')
export CONFIG_XML="/usr/local/etc/config.xml"
export ARCH=${ARCH:-$(uname -m)}
export LABEL=${PRODUCT_NAME}
export TARGET_ARCH=${ARCH}
export TARGETARCH=${ARCH}

# define target directories
export PACKAGESDIR="/tank/opnsense/packages"
export STAGEDIR="/tank/opnsense/stage"
export IMAGESDIR="/tank/opnsense/images"
export SETSDIR="/tank/opnsense/sets"

# Custom object directory (optional)
export MAKEOBJDIRPREFIX="/usr/obj/opnsense"
