#!/bin/sh

set -e

# code reositories
export TOOLSDIR="/usr/tools"
export PORTSDIR="/usr/ports"
export COREDIR="/usr/core"
export SRCDIR="/usr/src"

# misc. foo
export CONFIG_PKG="/usr/local/etc/pkg/repos/${PRODUCT_NAME}.conf"
export CPUS=$(sysctl kern.smp.cpus | awk '{ print $2 }')
export CONFIG_XML="/usr/local/etc/config.xml"
export ARCH=${ARCH:-$(uname -m)}
export LABEL=${PRODUCT_NAME}
export TARGET_ARCH=${ARCH}
export TARGETARCH=${ARCH}

# define target directories
export PACKAGESDIR="/tank/opnsense/packages"
export STAGEDIR="/tank/opnsense/stage"
export IMAGESDIR="/tank/opnsense/images"
export SETSDIR="/tank/opnsense/sets"

# Custom object directory (optional)
#export MAKEOBJDIRPREFIX="/usr/obj/opnsense"
